<div class="container">
  <ul class="left">
    <li>
      <a
        id="home"
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Angular Application
      </a>
    </li>
  </ul>
  <ul class="right">
    <li>
      <a
        routerLink="/feature1"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Feature 1</a
      >
    </li>
    <li>
      <a
        routerLink="/feature2"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Feature 2</a
      >
    </li>
    <li>
      <a
        routerLink="/feature3"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Feature 3</a
      >
    </li>
    <li>
      <a
        routerLink="/feature4"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Feature 4</a
      >
    </li>
  </ul>
</div>
