<header>
    <app-navbar></app-navbar>
    <div class="flex items-center">
      <a class="button"
        routerLink="/login"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Login/Sign Up
      </a>
      <svg
        width="48"
        height="48"
        viewBox="0 0 48 48"
        xmlns="http://www.w3.org/2000/svg"
        class="h-12 w-12"
      >
        <rect width="48" height="48" fill="#00b7c3" rx="8" ry="8" />
        <text
          x="50%"
          y="50%"
          dominant-baseline="middle"
          text-anchor="middle"
          font-size="24"
          fill="white"
          font-family="Arial, sans-serif"
        >
          B
        </text>
      </svg>
    </div>
</header>
